* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkcyan;
    margin: 0 auto;
    width: 1200px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

img {
    width: 75px;
}

.nav-links {
    list-style: none;
}